.section-input {
    background-image: url("../images/pattern-bg.png");
    background-size: cover;
    height: 35vh;
    position: relative;


    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }
}

.section-output {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  position: absolute;
  left: 50%;
  top: 27%;
  z-index: 100;
  transform: translateX(-50%);
  
  padding: 3rem 2rem;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  color: black;
  line-height: 1.7;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .5);


    & > * {
        padding: 0 4rem;
      }
}


input {
    width: 100%;
}

.heading-4, p {
    margin: 0;
  }
  
  .heading-4 {
    color: rgb(175, 167, 167);
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  
  