@import "~normalize.css";
@import './fonts.scss';

@import 'base.scss';
@import 'layout.scss';
@import 'map.scss';


$font-regular: 'Rubik-Regular';
$font-medium: 'Rubik-Medium';
$font-bold: 'Rubik-Bold';


